VITE_API_URL=http://localhost:4000/api
VITE_SOCKET_URL=http://localhost:4000

VITE_API_KEY_GEOCODING=b07354c00c4e4ebca58287e315d1afeb
VITE_GOOGLE_MAPS_API_KEY=AIzaSyDD6YYOAFypgXEmn6qyCdx_ua5k58ZRUkI

VITE_NAME_APP=DEPEDIDOS
VITE_NAME_SUPPORT=support@depedidos.com
